<ion-header [translucent]="true">
  <ion-toolbar class="main__toolbar">
    <ion-buttons slot="start">
      <ion-back-button default-href="#" text="Voltar" class="main__toolbar-button" (click)="moveToLearning()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="section__table">
      <div class="table__header">
        <h1>Hiragana Dakuten</h1>
      </div>
      <div class="table__content">
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">きゃ</ion-button>
          <ion-button (click)="textToSpeak($event)">きゅ</ion-button>
          <ion-button (click)="textToSpeak($event)">きょ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">ぎゃ</ion-button>
          <ion-button (click)="textToSpeak($event)">ぎゅ</ion-button>
          <ion-button (click)="textToSpeak($event)">ぎょ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">しゃ</ion-button>
          <ion-button (click)="textToSpeak($event)">しゅ</ion-button>
          <ion-button (click)="textToSpeak($event)">しょ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">じゃ</ion-button>
          <ion-button (click)="textToSpeak($event)">じゅ</ion-button>
          <ion-button (click)="textToSpeak($event)">じょ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">ちゃ</ion-button>
          <ion-button (click)="textToSpeak($event)">ちゅ</ion-button>
          <ion-button (click)="textToSpeak($event)">ちょ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">にゃ</ion-button>
          <ion-button (click)="textToSpeak($event)">にゅ</ion-button>
          <ion-button (click)="textToSpeak($event)">にょ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">ひゃ</ion-button>
          <ion-button (click)="textToSpeak($event)">ひゅ</ion-button>
          <ion-button (click)="textToSpeak($event)">ひょ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">びゃ</ion-button>
          <ion-button (click)="textToSpeak($event)">びゅ</ion-button>
          <ion-button (click)="textToSpeak($event)">びょ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">ぴゃ</ion-button>
          <ion-button (click)="textToSpeak($event)">ぴゅ</ion-button>
          <ion-button (click)="textToSpeak($event)">ぴょ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">みゃ</ion-button>
          <ion-button (click)="textToSpeak($event)">みゅ</ion-button>
          <ion-button (click)="textToSpeak($event)">みょ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">りゃ</ion-button>
          <ion-button (click)="textToSpeak($event)">りゅ</ion-button>
          <ion-button (click)="textToSpeak($event)">りょ</ion-button>
        </div>
      </div>
    </div>
    <div class="section__table">
      <div class="table__header">
        <h1>Katakana Dakuten</h1>
      </div>
      <div class="table__content">
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">キャ</ion-button>
          <ion-button (click)="textToSpeak($event)">キュ</ion-button>
          <ion-button (click)="textToSpeak($event)">キョ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">ギャ</ion-button>
          <ion-button (click)="textToSpeak($event)">ギュ</ion-button>
          <ion-button (click)="textToSpeak($event)">ギョ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">シャ</ion-button>
          <ion-button (click)="textToSpeak($event)">シュ</ion-button>
          <ion-button (click)="textToSpeak($event)">ショ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">ジャ</ion-button>
          <ion-button (click)="textToSpeak($event)">ジュ</ion-button>
          <ion-button (click)="textToSpeak($event)">ジョ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">チャ</ion-button>
          <ion-button (click)="textToSpeak($event)">チュ</ion-button>
          <ion-button (click)="textToSpeak($event)">チョ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">ニャ</ion-button>
          <ion-button (click)="textToSpeak($event)">ニュ</ion-button>
          <ion-button (click)="textToSpeak($event)">ニョ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">ヒャ</ion-button>
          <ion-button (click)="textToSpeak($event)">ヒュ</ion-button>
          <ion-button (click)="textToSpeak($event)">ヒョ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">ビャ</ion-button>
          <ion-button (click)="textToSpeak($event)">ビュ</ion-button>
          <ion-button (click)="textToSpeak($event)">ビョ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">ピャ</ion-button>
          <ion-button (click)="textToSpeak($event)">ピュ</ion-button>
          <ion-button (click)="textToSpeak($event)">ピョ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">ミャ</ion-button>
          <ion-button (click)="textToSpeak($event)">ミュ</ion-button>
          <ion-button (click)="textToSpeak($event)">ミョ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">リャ</ion-button>
          <ion-button (click)="textToSpeak($event)">リュ</ion-button>
          <ion-button (click)="textToSpeak($event)">リョ</ion-button>
        </div>        
      </div>
    </div>
  </div>
</ion-content>