<ion-header [translucent]="true">
  <ion-toolbar class="main__toolbar">
    <ion-buttons slot="start">
      <ion-back-button default-href="#" text="Voltar" class="main__toolbar-button" (click)="moveToLearning()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" >
      <ion-back-button default-href="#" text="Combinações" icon="chevron-forward" class="main__toolbar-button" (click)="moveToCombination()" routerDirection="forward"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="section__table">
      <div class="table__header">
        <h1>Hiragana Dakuten</h1>
      </div>
      <div class="table__content">
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">が</ion-button>
          <ion-button (click)="textToSpeak($event)">ぎ</ion-button>
          <ion-button (click)="textToSpeak($event)">ぐ</ion-button>
          <ion-button (click)="textToSpeak($event)">げ</ion-button>
          <ion-button (click)="textToSpeak($event)">ご</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">ざ</ion-button>
          <ion-button (click)="textToSpeak($event)">じ</ion-button>
          <ion-button (click)="textToSpeak($event)">ず</ion-button>
          <ion-button (click)="textToSpeak($event)">ぜ</ion-button>
          <ion-button (click)="textToSpeak($event)">ぞ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">だ</ion-button>
          <ion-button (click)="textToSpeak($event)">ぢ</ion-button>
          <ion-button (click)="textToSpeak($event)">づ</ion-button>
          <ion-button (click)="textToSpeak($event)">で</ion-button>
          <ion-button (click)="textToSpeak($event)">ど</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">ぱ</ion-button>
          <ion-button (click)="textToSpeak($event)">ぴ</ion-button>
          <ion-button (click)="textToSpeak($event)">ぷ</ion-button>
          <ion-button (click)="textToSpeak($event)">ぺ</ion-button>
          <ion-button (click)="textToSpeak($event)">ぽ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">ば</ion-button>
          <ion-button (click)="textToSpeak($event)">び</ion-button>
          <ion-button (click)="textToSpeak($event)">ぶ</ion-button>
          <ion-button (click)="textToSpeak($event)">べ</ion-button>
          <ion-button (click)="textToSpeak($event)">ぼ</ion-button>
        </div>
      </div>
    </div>
    <div class="section__table">
      <div class="table__header">
        <h1>Katakana Dakuten</h1>
      </div>
      <div class="table__content">
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">ガ</ion-button>
          <ion-button (click)="textToSpeak($event)">ギ</ion-button>
          <ion-button (click)="textToSpeak($event)">グ</ion-button>
          <ion-button (click)="textToSpeak($event)">ゲ</ion-button>
          <ion-button (click)="textToSpeak($event)">ゴ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">ザ</ion-button>
          <ion-button (click)="textToSpeak($event)">ジ</ion-button>
          <ion-button (click)="textToSpeak($event)">ズ</ion-button>
          <ion-button (click)="textToSpeak($event)">ゼ</ion-button>
          <ion-button (click)="textToSpeak($event)">ゾ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">ダ</ion-button>
          <ion-button (click)="textToSpeak($event)">ヂ</ion-button>
          <ion-button (click)="textToSpeak($event)">ヅ</ion-button>
          <ion-button (click)="textToSpeak($event)">デ</ion-button>
          <ion-button (click)="textToSpeak($event)">ド</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">パ</ion-button>
          <ion-button (click)="textToSpeak($event)">ピ</ion-button>
          <ion-button (click)="textToSpeak($event)">プ</ion-button>
          <ion-button (click)="textToSpeak($event)">ペ</ion-button>
          <ion-button (click)="textToSpeak($event)">ポ</ion-button>
        </div>
        <div class="content-button">
          <ion-button (click)="textToSpeak($event)">バ</ion-button>
          <ion-button (click)="textToSpeak($event)">ビ</ion-button>
          <ion-button (click)="textToSpeak($event)">ブ</ion-button>
          <ion-button (click)="textToSpeak($event)">ベ</ion-button>
          <ion-button (click)="textToSpeak($event)">ボ</ion-button>
        </div>
        
      </div>
    </div>
  </div>
</ion-content>