<ion-header [translucent]="true">
  <ion-toolbar class="main__toolbar">
    <ion-buttons slot="start">
      <ion-back-button default-href="#" text="Voltar" class="main__toolbar-button" (click)="moveToHome()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="home__container" *ngIf="showHomeContainer">
    <div class="home__container-img">
      <ion-img src="../../assets/logo.png"></ion-img>
    </div>
    <ion-list [inset]="true" class="container__list" (click)="enableVariables()">
      <ion-item>
        <ion-checkbox id="hiraganaQuiz">Hiragana</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox id="katakanaQuiz">Katakana</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox disabled id="variablesQuiz">Variações</ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-button expand="block" class="main__button" disabled id="startQuiz" (click)="startQuiz()"><ion-icon name="play"></ion-icon><span>COMEÇAR</span><ion-icon name="play"></ion-icon></ion-button> 
  </section>
  <section class="container__quiz hide" >
    <div class="container__quiz-questions">
      <div class="question">
        <span id="question"></span>
      </div>
      <div class="quiz__answers-container">
        <ion-button></ion-button>
        <ion-button></ion-button>
        <ion-button></ion-button>
        <ion-button></ion-button>
      </div>
    </div>
    <div class="container__quiz-controls" *ngIf="showNextQuestionBtn">
      <ion-button expand="block" class="main__button" (click)="displayNextQuestion()"><span>PRÓXIMO</span></ion-button>
    </div>
  </section>
  <section class="home__container hide" id="precisionContainer">
    <div class="home__container-img">
      <span class="precisionPercent"></span>
    </div>
    <div class="home__container-button">
      <ion-button expand="block" class="main__button" (click)="tryAgain()"><ion-icon name="reload"></ion-icon><span>TENTAR NOVAMENTE</span><ion-icon name="reload"></ion-icon></ion-button> 
      <ion-button expand="block" class="main__button" (click)="moveToHome()"><ion-icon name="home"></ion-icon><span>INÍCIO</span><ion-icon name="home"></ion-icon></ion-button> 
    </div>
  </section>
</ion-content>