.container__quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 25rem;
  padding: 2rem;
  position: absolute;
  margin-top: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-primary);
}
.container__quiz-questions {
  display: flex;
  flex-direction: column;

  span {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20rem;
    font-weight: 600;
    border: .5rem solid var(--color-primary);
    border-radius: 1rem;
  }
}
.quiz__answers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}
.correct {
  background-color: var(--color-correct);
  color: var(--color-secondary);
}
.incorrect {
  background-color: var(--color-incorrect);
  color: var(--color-secondary);
}
.hide {
  display: none;
}
.precisionPercent {
  padding: 2rem;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  color: var(--color-primary);
}