.container__quiz {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.container__quiz-questions {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  span {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20rem;
    font-weight: 600;
    border: .5rem solid var(--color-primary);
    border-radius: 1rem;
  }
}
.quiz__answers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}
.correct {
  background-color: var(--color-correct);
  color: var(--color-secondary);
}
.incorrect {
  background-color: var(--color-incorrect);
  color: var(--color-secondary);
}
.hide {
  display: none;
}
.precisionPercent {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8rem;
  font-weight: 600;
  color: var(--color-primary);
}