#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 13rem;
}
.container__img {
  padding: 2rem;
}
.container__button {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}