<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <div class="container__img">
      <ion-img src="../../assets/logo.png"></ion-img>
    </div>
    <div class="container__button">
      <ion-button expand="block" class="main__button" (click)="moveToLearning()"><ion-icon name="language"></ion-icon><span>APRENDIZADO</span><ion-icon name="language"></ion-icon></ion-button> 
      <ion-button expand="block" class="main__button"><ion-icon name="extension-puzzle"></ion-icon><span>PRÁTICA</span><ion-icon name="extension-puzzle"></ion-icon></ion-button> 
    </div>
  </div>
</ion-content>
